<div class="hct-container">
  {{> "modules/hero-creation-tool/templates/nav.html"}}

  <!-- prettier-ignore -->
  {{> "modules/hero-creation-tool/templates/tabs/start.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/basics.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/race.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/class.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/abilities.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/background.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/equipment.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/spells.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/bio.html"}}

  <!-- prettier-ignore -->
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <symbol id="ico-minus" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18 13H6c-.55 0-1-.45-1-1s.45-1 1-1h12c.55 0 1 .45 1 1s-.45 1-1 1z"/></symbol>
    <symbol id="ico-plus" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M18 13h-5v5c0 .55-.45 1-1 1s-1-.45-1-1v-5H6c-.55 0-1-.45-1-1s.45-1 1-1h5V6c0-.55.45-1 1-1s1 .45 1 1v5h5c.55 0 1 .45 1 1s-.45 1-1 1z"/></symbol>
  </svg>
</div>
