<section id="basicsDiv" class="tab-body">
  <header>
    <nav class="tabs">
      <button class="tablinks active" data-hct_tab="basicsDiv"><span>{{localize 'HCT.Basics.Title'}}</span></button>
      <button class="tablinks" data-hct_tab="raceDiv" data-hct_race><span>{{localize 'DND5E.Race'}}</span></button>
      <button class="tablinks" data-hct_tab="classDiv"><span>{{localize 'ITEM.TypeClass'}}</span></button>
      <button class="tablinks" data-hct_tab="abDiv"><span>{{localize 'HCT.Abilities.Title'}}</span></button>
      <button class="tablinks" data-hct_tab="backgroundDiv"><span>{{localize 'DND5E.Background'}}</span></button>
      <button class="tablinks" data-hct_tab="eqDiv"><span>{{localize 'DND5E.ItemTypeEquipmentPl'}}</span></button>
      <button class="tablinks" data-hct_tab="spDiv"><span>{{localize 'DND5E.ItemTypeSpellPl'}}</span></button>
      <button class="tablinks" data-hct_tab="bioDiv"><span>{{localize 'DND5E.Biography'}}</span></button>
      <button class="tablinks" data-hct_tab="reviewDiv" data-hct_review><span>{{localize 'HCT.Review.Title'}}</span></button>
    </nav>
  </header>
  <h1 class='tab-header'>{{localize 'HCT.Basics.Title'}}</h1>

    <main class='tab-content'>
        <div class="form--padding">
            <form class="flexcol prototype" autocomplete="off">
                <div class="form-group" data-hero_name>
                    <label class="basics-top-label">{{localize 'HCT.Basics.CharName'}}</label>
                </div>
                <div class="form-group" data-hero_avatar>
                    <label class="basics-top-label">{{localize 'HCT.Basics.Avatar'}}</label>
                    <button type="button" class="div-button file-picker centered-text" data-filepick='avatar'>
                        {{localize 'HCT.Basics.PickButton'}}
                    </button>
                </div>
                <div class="form-group" data-hero_token>
                    <label class="basics-top-label">{{localize 'HCT.Basics.Token'}}</label>
                    <button type="button" class="div-button file-picker centered-text" data-filepick='token'>
                        {{localize 'HCT.Basics.PickButton'}}
                    </button>
                </div>
                <div class="form-group">
                    <label class="basics-top-label">{{localize 'HCT.Basics.Preview'}}</label>
                    <div id="avatar-token-display">
                        <img id="avatar_img" title="Avatar" src="icons/svg/mystery-man.svg" data-filepick='avatar'>
                        <img id="token_img" title="Token" src="icons/svg/mystery-man.svg" data-filepick='token'>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <footer class='tab-footer'>
        <button class="step-button" data-hct_back="startDiv">{{localize 'HCT.Back'}}</button>
        <button class="step-button" data-hct_next="raceDiv" hct_race>{{localize 'HCT.Next'}}</button>
    </footer>
</section>
