<section id="bioDiv" class="tab-body">
  <header>
    <nav class="tabs">
      <button class="tablinks" data-hct_tab="basicsDiv"><span>{{localize 'HCT.Basics.Title'}}</span></button>
      <button class="tablinks" data-hct_tab="raceDiv" data-hct_race><span>{{localize 'DND5E.Race'}}</span></button>
      <button class="tablinks" data-hct_tab="classDiv"><span>{{localize 'ITEM.TypeClass'}}</span></button>
      <button class="tablinks" data-hct_tab="abDiv"><span>{{localize 'HCT.Abilities.Title'}}</span></button>
      <button class="tablinks" data-hct_tab="backgroundDiv"><span>{{localize 'DND5E.Background'}}</span></button>
      <button class="tablinks" data-hct_tab="eqDiv"><span>{{localize 'DND5E.ItemTypeEquipmentPl'}}</span></button>
      <button class="tablinks" data-hct_tab="spDiv"><span>{{localize 'DND5E.ItemTypeSpellPl'}}</span></button>
      <button class="tablinks active" data-hct_tab="bioDiv"><span>{{localize 'DND5E.Biography'}}</span></button>
      <button class="tablinks" data-hct_tab="reviewDiv" data-hct_review><span>{{localize 'HCT.Review.Title'}}</span></button>
    </nav>
  </header>
  <h1 class="tab-header">{{localize 'DND5E.Biography'}}</h1>

  <main class="tab-content">
    <div class="form--padding">
      <form class="flexcol prototype" autocomplete="off">
        <div class="form-group">
          <label>{{localize 'HCT.Bio.Age'}}</label>
          <input type="text" id="character_age" name="age" placeholder="{{localize 'HCT.Bio.Age'}}" />
        </div>
        <div class="form-group">
          <label>{{localize 'HCT.Bio.Height'}}</label>
          <input type="text" id="character_height" name="height" placeholder="{{localize 'HCT.Bio.Height'}}" />
        </div>
        <div class="form-group">
          <label>{{localize 'HCT.Bio.Weight'}}</label>
          <input type="text" id="character_weight" name="weight" placeholder="{{localize 'HCT.Bio.Weight'}}" />
        </div>
        <div class="form-group">
          <label>{{localize 'HCT.Bio.Eyes'}}</label>
          <div>
            <input type="text" id="character_eye_color" name="eye-color" placeholder="{{localize 'HCT.Bio.Eyes'}}" />
            <input type="color" id="character_eye_rgb" name="eye-rgb" />
          </div>
        </div>
        <div class="form-group">
          <label>{{localize 'HCT.Bio.Hair'}}</label>
          <div>
            <input type="text" id="character_hair_color" name="hair-color" placeholder="{{localize 'HCT.Bio.Hair'}}" />
            <input type="color" id="character_hair_rgb" name="hair-rgb" />
          </div>
        </div>
        <div class="form-group">
          <label>{{localize 'HCT.Bio.Skin'}}</label>
          <div>
            <input type="text" id="character_skin_color" name="skin-color" placeholder="{{localize 'HCT.Bio.Skin'}}" />
            <input type="color" id="character_skin_rgb" name="skin-rgb" />
          </div>
        </div>
        <div>
          <textarea id="character_biography" placeholder="{{localize 'HCT.Bio.Biography'}}"></textarea>
        </div>
      </form>
    </div>
  </main>

    <footer class='tab-footer'>
        <button class="step-button" data-hct_back="spDiv">{{localize 'HCT.Back'}}</button>
    </footer>
</section>
