<section id="classDiv" class="tab-body">
  <header>
    <nav class="tabs">
      <button class="tablinks" data-hct_tab="basicsDiv"><span>{{localize 'HCT.Basics.Title'}}</span></button>
      <button class="tablinks" data-hct_tab="raceDiv" data-hct_race><span>{{localize 'DND5E.Race'}}</span></button>
      <button class="tablinks active" data-hct_tab="classDiv"><span>{{localize 'ITEM.TypeClass'}}</span></button>
      <button class="tablinks" data-hct_tab="abDiv"><span>{{localize 'HCT.Abilities.Title'}}</span></button>
      <button class="tablinks" data-hct_tab="backgroundDiv"><span>{{localize 'DND5E.Background'}}</span></button>
      <button class="tablinks" data-hct_tab="eqDiv"><span>{{localize 'DND5E.ItemTypeEquipmentPl'}}</span></button>
      <button class="tablinks" data-hct_tab="spDiv"><span>{{localize 'DND5E.ItemTypeSpellPl'}}</span></button>
      <button class="tablinks" data-hct_tab="bioDiv"><span>{{localize 'DND5E.Biography'}}</span></button>
      <button class="tablinks" data-hct_tab="reviewDiv" data-hct_review><span>{{localize 'HCT.Review.Title'}}</span></button>
    </nav>
  </header>
  <h1 class="tab-header">{{localize 'ITEM.TypeClass'}}</h1>

    <main class='tab-content'>
        <img class="hct-icon" title="classIcon" src="icons/svg/mystery-man.svg" data-hct_class_icon>
        <select class='hct_picker' , data-hct_class_picker>
            <option value="" disabled selected hidden> {{localize 'HCT.Class.Select.Default'}} </option>
        </select>
        <div data-hct_class_data>
            <div data-hct_class_area="hit-points">
                <h2>{{localize 'HCT.Class.HitPoints'}}</h2>
                <section class='hct_class_data_elem' data-hct_class_hit_points></section>
            </div>
            <div data-hct_class_area="proficiencies">
                <h2>{{localize 'HCT.Common.Proficiencies'}}</h2>
                <section class='hct_class_data_elem' data-hct_class_proficiencies></section>
            </div>
            <div data-hct_class_area="saving-throws">
                <h2>{{localize 'HCT.Class.SavingThrows'}}</h2>
                <section class='hct_class_data_elem' data-hct_class_saving_throws></section>
            </div>
        </div>
    </main>

  <footer class="tab-footer">
    <button class="step-button" data-hct_back="raceDiv" hct_race>{{localize 'HCT.Back'}}</button>
    <button class="step-button" data-hct_next="abDiv">{{localize 'HCT.Next'}}</button>
  </footer>
</section>
