<section id="startDiv" class="tab-body">
  <header>
<!--    *insert decorative img left* -->
    <img class="logo" src="../modules/hero-creation-tool/assets/logo.png" alt="hero creation tool" />
<!--    *insert decorative img right* -->
  </header>

  <main>
    <h1 class="tab-header">{{localize 'HCT.Start.Welcome'}}</h1>
    <div class="justified-text">
      <p class="justified-text">{{localize 'HCT.Start.p1'}}</p>
      <p>{{localize 'HCT.Start.p2'}}</p>
      <p><strong>{{localize 'HCT.Start.Remark'}}</strong></p>
    </div>
  </main>

  <footer class="tab-footer">
    <button class="step-button" data-hct_next="basicsDiv">{{localize 'HCT.Next'}}</button>
  </footer>
</section>
